<form action="/planets/<%= _id %>?_method=PUT" method="post">
  <input name="name" value="<%= name %>">
  <input name="img" value="<%= img %>">
  <input name="orbitTime" value="<%= orbitTime %>">
  <input name="natives" value="<%= natives %>">
  <button>Update my Planet!</button>
</form>
